body{
    background-color: #f8f9fa;
    margin: 0px;
    padding: 0px;
}

/*                      Header                      */
.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: black;

}

.title{
    margin-top: 50px;
}
.circulo_ilum{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: black;
    position:relative;
    margin:20px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.circulo_ilum:hover{
    background: rgb(255,223,0);
    background: radial-gradient(circle, rgba(255,223,0,1) 45%, rgba(255,223,0,0) 70%);
}

.circulo{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #003399;
    position:relative;
    margin:40px;
}

.Costa{
    font-family: Arial;
    font-size: 44px;
    color: #f8f9fa;
    font-weight: bold;
    margin-top:65px;
    margin-left: 22px;
    position: absolute;
    z-index: 0;

}

.tv{
    font-family: 'trebuchet MS';
    font-size: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color:  #003399;
    background-color: #f8f9fa;  
    text-align: center;
    font-weight: bold;
    margin-top: 57px;
    margin-left: 138px;
    right: 20;
    z-index: 1;
    position: absolute;
}

/*                      Menu                      */
.menu {
    background-color: #003399;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 4;
}

.menu ul{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 210px;
}

.menu a{
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    /* margin-right: 40px; */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 100px;
    padding-left: 100px;
  }

.menu a:hover {
    text-decoration: none;
    background-color: #ffdf00;
    color: #003399;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px; 
  }


.menu ul li{
    list-style: none;
    /* margin-left: 20px; */
    
    font-weight: bold;
    justify-self: center;
}

/*                      Body                      */
.contenido{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 1500px;
    flex-flow: column;
}

.contenido div{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 500px;
    flex-flow: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;

}

#Noticias{
    background-color: #04044D;
    width: 100%;
    color: #ECFFF8;
    border-top: 5px;
    border-color: #ECEC3A;
}

.text_nosotros{
    color: #003399;
    width: 800px;
    
    
}

.Nosotros{
    height:fit-content;
    margin-bottom: 60px;
    font: 'Trebuchet MS';
    font-size: 12px;
    flex-flow: row;
}